.login-1 {
  padding: 32px;

  min-height: 100vh;

  display: block;
}
.userBackground {
  background: url("http://demo1.cybersoft.edu.vn/static/media/backapp.b46ef3a1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
