.my-slick .slick-dots li button {
  padding: 0;
}
.my-slick {
  padding: 0;
}
.my-slick .slick-dots li button:before {
  width: 50px;
  height: 50px;
}

.width-item {
  width: 100% !important;
}

.active-btn-filmDC {
  z-index: 1;
  transform: translateX(0%);
}

.active-btn-filmSC {
  z-index: 1;
  transform: translateX(100%);
  /* background: linear-gradient(to right, #fbbd61, #ec7532); */
}
