* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 0;
}
.bg-admin-page {
  background-image: url(/public/img/background.b697469b.png);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-home-page {
  background-image: url(/public/img/background-form.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.btn-theme {
  @apply text-slate-800 hover:text-slate-900 bg-gradient-to-r from-teal-400 to-lime-400 ease-in duration-300 hover:bg-gradient-to-l hover:from-teal-400 hover:to-lime-400 focus:ring-4 focus:outline-none focus:ring-lime-400 rounded-lg  text-center;
}
.bg-theme {
  @apply bg-gradient-to-r from-teal-300 to-lime-300 text-slate-800;
}
.text-theme {
  @apply bg-gradient-to-r from-teal-500 to-lime-500 text-transparent bg-clip-text;
}
.slick-dots li button:before {
  font-size: 10px !important;
  /* opacity: 1 !important; */
  color: rgb(45, 182, 45) !important;
}
